    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ECRL</h2>
                <p>Edwards Computer Resources, Limited is an out–source network management company located in Harleysville, PA. We specialize in assisting small businesses with their computer needs—whether they are software, hardware or network administration.</p>
                <p>Our goal is to meet the ever–changing needs of our customers by support user types ranging from standalone clients to full–fledged Windows networks. We will model your networks based on future growth as your needs increase.</p>
                <p>ECRL provides service based on reliability and time sensitive support. We strive not only to meet our customers needs today, but also to prepare them for the future.</p>
                <p>Whether your needs are few or constant please know that the team at ECRL is dedicated to providing your business with the best and most dedicated IT service possible.</p>
            </div>
        </div>
    </section>